<!-- Ele herda o arquivo base.html carregando as informações padrões dele -->
{% extends 'base.html' %}
<!-- Dentro desse bloco é onde define oq vai ser exibido no corpo dessa página -->
{% block body %}

<div class="fundo">
    <div class="caixa">
        <div class="login">
            <h2>Login</h2>
            <form method="POST" action="" class="campoinput">
                {{ form_login.csrf_token }}
                <fieldset>
                    <div class="campoform">
                        {{ form_login.email.label(class="form-control-label") }} 
                            <i></i>
                            <!-- Verifica se o campo de e-mail tem algum erro -->
                            {% if form_login.email.errors %}
                                {{ form_login.email(class="form-control is-invalid") }} <!-- Vai deixar a caixa vermelha -->
                            <div class="invalid-feedback"> <!-- Vai exibir os erros -->
                                {% for erro in form_login.email.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %} <!-- Caso o contrário ele exibe a caixa normalmente -->
                                {{ form_login.email(class="form-control") }}
                            {% endif %}
                    </div>
                    <div class="campoform">
                        {{ form_login.senha.label(class="form-control-label") }}  <!-- Essas classes entre parênteses serve pra deixar mais bonito -->
                            <i></i>
                            <!-- Verifica se o campo de senha tem algum erro -->
                            {% if form_login.senha.errors %}
                                {{ form_login.senha(class="form-control is-invalid") }} <!-- Vai deixar a caixa vermelha -->
                            <div class="invalid-feedback"> <!-- Vai exibir os erros -->
                                {% for erro in form_login.senha.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %} <!-- Caso o contrário ele exibe a caixa normalmente -->
                                {{ form_login.senha(class="form-control") }}
                            {% endif %}
                    </div>  
                    <div class="lembrar"> 
                        {{ form_login.lembrar_dados.label(class="form-check-input-label") }}
                        {{ form_login.lembrar_dados(class="form-check-input") }}
                        <a href="#">Criar conta</a>
                    </div>  
                </fieldset>
                <center>
                {{ form_login.botao_entrar(class="btn btn-primary mt-4 btnlogin") }}
                </center>
            </form>
        </div>
    </div>
</div>
    
    
    
    

{% endblock %}