section {
    background-color: #eee;
}
.rounded-circle img-fluid {
    width: 150px;
}
.fab fa-github fa-lg {
    color: #333333;
}
.fab fa-twitter fa-lg {
    color: #55acee;
}
.fab fa-instagram fa-lg{
    color: #ac2bac;
}
.fab fa-facebook-f fa-lg{
    color: #3b5998;
}
.mb-1{
    font-size: .77rem;
}
.mt-4 mb-1{
    font-size: .77rem;
}
.progress rounded{
    height: 5px;
}

/* Aqui começa as classes da página de LOGIN */
.fundo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #23242a;
}
.caixa{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.caixa::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.caixa::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.login{
    position: absolute;
    background: #28292d;
    inset: 2px;
    border-radius: 8px;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}
.login h2{
    color: #45f3ff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1rem;
}
.campoform{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.campoform input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
}
.form-control-label{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.campoform i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    pointer-events: none;
}
.lembrar{
    font-size: 1em;
    color: #8f8f8f; 
    letter-spacing: 0.05em;
    margin-top: 20px;
}
.lembrar a{
    margin: 10px 0;
    color:#8f8f8f;
    text-decoration: none;
}
.lembrar a:hover{
    color: #45f3ff;
}
.btnlogin{
    border: none;
    outline:none;
    background:#45f3ff;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    color:#1c1c1c;
}
/* Fim das classes da página de LOGIN */